body {
  background-color: snow;
}

.box {
  background-image: url(../img/concrete_seamless.png);
  min-height: 2000px;
  height: 100%;
  overflow: auto;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 50px;
}

#results  {
  display: inline-block;
  margin: 0 auto;
}

.pageHeader {
  background-color: #2A9D8F;
  height: 150px;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  border: none;
}

.row3Text h3 {
  color: #E9D985;
}

.redditResult {
  background-color: #dddddd;
  border-radius: 5px;
  padding: 5px;
}

.pageHeader h1{
  color: white;
    margin-top: 12px;
    margin-bottom: 5px;
    font-family: 'Lobster';
    font-size: 60px;
}

.pageHeader h2 {
  color: white;
}


.options {
  font-size: 16px;
  padding: 5px;
}


.row3Text {
  color: #2A9D8F;
  font-size: 2em;
}



